body {
  background-color: #fff;
  font-family: "Rubik", "Arial", sans-serif;
}

.container {
  width: 1200px;
  left: 119px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* SITE HEADER */
.headerr {
  background: #F6F6F9;
}

.logo-others {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.telegram-text {
  display: flex;
  align-items: center;
}

.valyutalar {
  display: flex;
  width: 295px;
  justify-content: space-between;

}

.button-slt {
  font-family: 'Roboto', "Arial", sans-serif;
  width: 285px;
  display: flex;
  justify-content: space-between;
}

.language-button {
  background-color: #fff;
}

.poisk-button {
  background-color: #fff;
}

.logo-n24 {}

.valyutalar span {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
}

.valyutalar li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  color: #7A7A7A;
}

.language-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #535353;
}

.telegram-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);

}

.nav-head {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  width: 1200px;
  height: 68px;
  left: 119px;
  justify-content: space-around;
  align-items: center;

}

.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item li {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  list-style: none;
  color: #515151;
}

.nav-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}

/* COVID STATISTIKA */
.main-glava-hidden {}

.covid-statistika {
  display: flex;
  justify-content: space-around;
}


.covid-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.corona-article {
  background: #F6F6F9;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.covid-statistika {
  width: 700px;
  justify-content: space-evenly;
}

.virus-text {
  width: 300;
  display: flex;
}

.kasallangan {
  font-size: 18px;
  line-height: 21px;
  color: #DB0000;
}

.kasal-raqam {
  font-weight: bold;
}

.tuzalgan {
  font-size: 18px;
  line-height: 21px;
  color: #05B135;
}

.tuzalgan-raqam {
  font-weight: bold;
}

.olgan {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.olgan-raqam {
  font-weight: bold;
}

/* BREAKING NEWS */
.section-hidden {}

.breakin-news-head li {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  width: 386px;
  list-style: none;
  color: #202020;
}

.breaking-news-text {
  display: flex;
  flex-wrap: wrap;
}

.breaking-news-text a {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}

.breaking-news-text a time {
  font-size: 14px;
  line-height: 17px;
  color: #6B6D97;
}

.article-join {
  background: rgba(239, 186, 84, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-join div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.article-bell {}

.uvidomleniya {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.article-join a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;

}

.all-last-popular-news {
  display: flex;
  justify-content: space-between;
}

/* LAST NEWS */
.last-news-head {
  width: 780px;
}

.last-news-head img {
  width: 252px;
  height: 143px;

}

.last-news-text li {
  display: flex;
  align-items: center;

}

.last-news-text li {
  list-style: none;

}

.last-news-text a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}

.last-news-text p {
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}

.last-news-text time {
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}

.last-news-text a img {
  background: url(image.png);
  border-radius: 5px;
  width: 252px;
  height: 143px;
}

.last-news-text p img {
  width: 18px;
  height: 20px;
  left: 389px;
  top: 2031px;
}

.last-news-text h3,
.last-news-text p {
  width: 512px;
}


.more-news {
  background: #295093;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  align-items: center;
}

.popular-news-banner {
  width: 386px;
}

.most-popular-news-head {
  background: #F6F6F9;
  border-radius: 5px;

}

.most-popular-news-text li {
  list-style: none;
}

.most-popular-news-text a {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #202020;
}

.most-popular-news-text h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.most-popular-news-head a {
  color: #202020;
  list-style: none;
  text-decoration: none;
}

.most-popular-news-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}

.ucel-banner img {
  background: url(image.png);
  border-radius: 5px;
}

.article-app {
  background: #F6F6F9;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.article-app h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #295093;
}

.article-app p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.article-app a {
  width: 162.71px;
  height: 50px;
}

.app-vkl {
  background-color: #FE5C28;
}

.footer-all {
  background: #295093;
}

.footer-all div {}

.footer-all h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.telegram-kanal {
  display: flex;
  align-items: center;
  width: 800px;
}

.logo-and-telegram {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.telegram-kanal a {
  list-style: none;
  text-decoration: none;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
}

.tg-podpis {
  display: flex;
  align-items: center;
}

.logo-white {
  background: #133C82;
  align-items: center;
}

.hr-footer {
  background: #133C82;
}

.osayte-head {
  width: 365px;
}

.osayte-head h3 {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.osayte-head p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer-nav-first {
  width: 170px;
}

.footer-nav-first a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-nav-second {
  width: 230px;
}

.footer-nav-second a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-nav li {
  list-style: none;

}

.footer-information {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.footer-nav {
  display: flex;

}